paper
*.pyc
__pycache__
.ipynb_checkpoints
*~
*.hi
*.o
notes
plots
output_data
invisibles-school/
patras-workshop/
*.swp
*.hdf5
*.aux
*-blx.bib
*.log
*.pdf
*.xml
*.toc
*.bbl
*.blg
*.synctex.gz
two_fields/*.dat
ma-venv/*
